#home {
  position: relative;
  // background: url("/images/bgWhite.png");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;

  .app-wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}

.app__header {
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: row;

  padding: 6rem 0;

  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
  @media screen and (max-width: 450px) {
    padding: 6rem 1rem 2rem;
  }
}

.app__header-info {
  flex: 0.65;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;

  @media screen and (min-width: 2000px) {
    width: 100%;
    margin-right: 0rem;
  }
}

.app__header-badge {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;

  .badge-cmp,
  .tag-cmp {
    padding: 1rem 2rem;
    border: var(--white-color);
    border-radius: 15px;
    flex-direction: row;
    width: auto;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .tag-cmp {
    flex-direction: column;
    margin-top: 3rem;
    // background-color: linear-gradient(
    //   to right,
    //   rgba(0, 0, 0, 0.6),
    //   rgba(88, 208, 88, 0.9),
    //   rgba(52, 52, 203, 0.9)
    // );
    background-color: var(--secondary-color);

    @media screen and (max-width: 250px) {
      padding: 0.8rem;

      p {
        font-weight: 500;
      }
    }

    p {
      width: 100%;
      text-transform: uppercase;
      font-weight: 700;
      color: var(--white-color);
    }
  }

  .wave-emoji {
    font-size: 2.5rem;

    @media screen and (min-width: 2000px) {
      font-size: 5rem;
    }
    @media screen and (max-width: 350px) {
      font-size: 1.8rem;
    }
  }

  @media screen and (max-width: 1200px) {
    justify-content: flex-start;
    align-items: flex-start;
  }
  @media screen and (max-width: 350px) {
    .badge-cmp {
      width: 80%;

      h1 {
        font-size: 1.3rem;
      }

      div {
        margin-left: 10px;
      }
    }
  }

  @media screen and (max-width: 250px) {
    align-items: center;
  }
}

.app__header-circles {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  margin-left: 1rem;

  div {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background: var(--white-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    .app__header-circles-img {
      width: 60%;
      height: 60%;
    }
  }

  div:nth-child(1) {
    margin-left: -3rem;
    width: 70px;
    height: 70px;
  }
  div:nth-child(2) {
    margin: 1.2rem;
    width: 90px;
    height: 90px;
  }
  div:nth-child(3) {
    margin: 1.5rem;
    width: 110px;
    height: 110px;
  }
  div:nth-child(4) {
    margin: 1.3rem;
    margin-left: -1rem;
    width: 150px;
    height: 150px;
  }

  @media screen and (min-width: 2000px) {
    div:nth-child(1) {
      margin-left: -3rem;
      width: 140px;
      height: 140px;
    }
    div:nth-child(2) {
      margin: 1.2rem;
      width: 180px;
      height: 180px;
    }
    div:nth-child(3) {
      margin: 1.5rem;
      width: 220px;
      height: 220px;
    }
    div:nth-child(4) {
      margin: 1.3rem;
      margin-left: -1rem;
      width: 300px;
      height: 300px;
    }
  }
  @media screen and (max-width: 1200px) {
    div:nth-child(1) {
      margin-left: 0;
      width: 70px;
      height: 70px;
    }
    div:nth-child(2) {
      margin: 0;
      width: 90px;
      height: 90px;
    }
    div:nth-child(3) {
      margin: 0;
      width: 110px;
      height: 110px;
    }
    div:nth-child(4) {
      margin: 0;
      margin-left: 0;
      width: 150px;
      height: 150px;
    }
  }

  @media only screen and (max-width: 1200px) {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;

    // div {
    //     margin: 1rem;
    // }
  }

  @media screen and (max-width: 450px) {
    div:nth-child(1) {
      margin-left: 0;
      width: 50px;
      height: 50px;
    }
    div:nth-child(2) {
      margin: 0;
      width: 60px;
      height: 60px;
    }
    div:nth-child(3) {
      margin: 0;
      width: 80px;
      height: 80px;
    }
    div:nth-child(4) {
      margin: 0;
      margin-left: 0;
      width: 100px;
      height: 100px;
    }
  }
}

.app__header-img {
  flex: 1;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;

  &-img {
    width: 100%;
    object-fit: contain;
    z-index: 1;
  }

  .overlay_circle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 90%;
  }

  @media screen and (max-width: 1200px) {
    margin: 2rem 0;
  }
}
